html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
    background: url(https://s3.amazonaws.com/codecademy-content/projects/armando-perez/brand.jpg) no-repeat fixed; 
      background-size: 100%;

}
.header ul, .footer ul {
    padding: 0 20px;
    margin: 0;
}

h1 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 30px;
}

a {
  color: #f01251;
  font-size: 14px;
}

.nav li {
  display:inline;
  width: 100px;
  text-align: center;
  margin: 15px;
}

a:hover, a:focus {
  color: #f01251;
}

#active {
  background-color: #f01251;
  color: #fff;
}

#active:hover, #active:focus {
  background-color: #428bca;
  color: #fff;
}

.header {
  padding: 30px 0;
}

.thumbnail {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.main {
  margin-bottom: 30px;
}

.footer {
  padding: 30px 0;
}



@media (min-width: 992px) {
.container {
    width: 970px;
}
}
@media (min-width: 768px) {
.container {
    width: 750px;
}
}