html, body, a {
  margin: 0;
  padding: 0;
  color: #fff;
}

.container {
  max-width: 960px;
}

.logo {
  width: 106px;
  height: 75px;
}

.nav>li a:hover, .nav>li a:focus {
  color: #fff;
  text-decoration: underline;
  background-color: transparent;
}

.header {
  margin-bottom: 50px;
}

.header a {
    padding: 15px;
    font-weight: bold;
}

.header li {
  display:inline-block;
}

#download {
  padding: 10px 30px;
  background:#ff003d;
  border-radius: 0;

}

#download:hover, #download:focus {
  text-decoration: none;

  color: black;

}

.jumbotron {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/bass/bg.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding-bottom: 200px;
  margin-bottom: 0;
}

.supporting-1, .supporting-3 {
  background: #333;
  padding: 70px 0;
  margin-bottom: 0;
}

.supporting-2, .footer {
  background: black;
  padding: 70px 0;
}

.supporting-4 {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/bass/feature.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 150px 0;
}

.footer h3 {
  font-size: 14px;
}

.footer .nav li a {
  font-size: 13px;
  padding: 5px 0;
  color: #aaa;
  display: inline-block;
}