html, body {
  font-family: "Oxygen", sans-serif; 
  font-weight: 300; 
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
}

.container {
  max-width: 970px;
  text-align: center;
}

.jumbotron {
  background: #000;
 margin-bottom: 80px;
}

.header img {
  width: 60%;
}

.header li {
  display: inline;
  margin-right: 30px;
}

.btn {
  border-color: #0393FF;
  border-radius: 0;
  padding: 8px 20px;
  color: #0393FF;
  background: #000;
}

.btn:hover {
  background: #0393FF;
  color: #fff;
}

.main h1 {
  margin-top: 80px;
  margin-bottom: 40px;
}

.main a {
  margin-bottom: 60px;
}

button {
  margin-left: 20px;
}

.main .form-control {
  width: 400px;
  background: #000;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #fff;;
}

.main .form-control:hover {
   border-bottom: 1px solid #0393FF;
}

.main .form-control:focus {
  box-shadow: none;
}

@media (max-width: 770px) {
  .main .form-control {
      margin: 0 auto;
      width: 100%;
  }
}

.supporting {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bolt-network/diagmonds_@2X.png");
  background-size: 141px 142px;
  padding: 80px 0;
}

.thumbnail {
  background: transparent;
  border: 0;
}

 h2 {
  color: #0393FF;
}

 p {
  margin-bottom: 45px;
  font-size: 16px;
}

.feature {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bolt-network/feature.jpg") no-repeat center center;
      background-size: cover;
  padding: 80px 0;
}

.footer .container {
  text-align: left;
  padding: 60px 0;
}

.footer li {
  color: #0393FF;
}

.footer h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}